body {
    background-color: rgb(46, 46, 46);
}

div {
    border: 2px solid blue;
    padding: 20px;
    margin: 20px 10px;
}

/* Colores de texto */
.colores-nombre {
    color: chocolate;
}

.color-rgb {
    color: rgb(0, 150, 96);
}

.color-rgba {
    color: rgb(45, 66, 95, 0.4); 
}

.color-hsl {
    color: hsl(320, 23%, 45%);
}

.color-hexadecimal {
    color: #45D4F6;
}

/* Colores de fondo */
.caja {
    border: 2px solid black;
}
.bg-colores-nombre {
    background: chocolate;
}

.bg-color-rgb {
    background: rgb(0, 150, 96);
}

.bg-color-rgba {
    background: rgb(45, 66, 95, 0.4);
}

.bg-color-hsl {
    background: hsl(320, 23%, 45%);
}

.bg-color-hexadecimal {
    background: #45D4F6;
}

/* Fuentes para los textos */
.texto-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-transform: capitalize;
}

.texto-2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 25px;
    text-align: right;
    text-transform: uppercase;
}

/* Bordes estilos */
.caja-1 {
    width: 200px;
    height: 200px;
    border-color: black;
    border-width: 5px;    
}

.b-solido {
    border-style: solid;
    border-radius: 50%;
}
.b-dashed {
    border-style: dashed;
    border-radius: 20px;
}
.b-dotted {
    border-style: dotted;
    border-radius: 20px 50px;
}
.b-double {
    border-style: double;
    border-radius: 50% 10% 30% 10%;
}
.b-groove {
    border-style: groove;
    border-radius: 50% 10% 50% 10% / 10% 50% 10% 50%;
}

/* Tipos de background */
.caja-2 {
    width: 200px;
    height: 200px;
    border: 3px solid black;
}

.bg-color {
    background-color: yellowgreen;
}

.bg-degrade-linear {
    background-image: linear-gradient(green, yellow);
}

.bg-degrade-radial {
    background-image: radial-gradient(blue, violet);
}
.bg-degrade-conic {
    background-image: conic-gradient(red, black);
}

.bg-img-large {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBrlWYx1AV9EM_fvhWl_v_uPCoBFqmDRtseA&s);
    background-size: cover;
    width: 400px;
    height: 200px;
    border: 3px solid black;
}





